<div class="container mt-5" style="max-width: 400px;">
  <h2 class="mb-3">Login</h2>

  <form (ngSubmit)="fazerLogin()">
    <div class="mb-3">
      <label>Email</label>
      <input
        type="email"
        class="form-control"
        [(ngModel)]="email"
        name="email"
        required
      />
    </div>

    <div class="mb-3">
      <label>Senha</label>
      <input
        type="password"
        class="form-control"
        [(ngModel)]="senha"
        name="senha"
        required
      />
    </div>

    <button type="submit" class="btn btn-dark w-100">
      Entrar
    </button>

    <div *ngIf="erro" class="text-danger mt-2">
      {{ erro }}
    </div>
  </form>

  <hr />

  <p>Ainda não tem conta?</p>
  <a routerLink="/cadastro-usuario" class="btn btn-outline-dark w-100">
    Cadastrar usuário
  </a>
</div>
